@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

:root {
    /* COLORS */
    --main-purple: #635FC7;
    --light-purple: #A8A4FF;
    --black: #000112;
    --veryDarkGrey: #20212C;
    --darkGrey: #2B2C37;
    --lines: #3E3F4E;
    --mediumGrey: #828FA3;
    --red: #EA5555;
    --lightRed: #FF9898;
    --green: #67E2AE;
    --blue: #49C4E5;

    /* TYPOGRAPHY */
    --heading-S: 12px;
    --heading-M: 15px;
    --heading-L: 18px;
    --heading-XL: 24px;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
}

.container img {
    height: 50px;
    animation: animatelogo 2s linear infinite;
}

@keyframes animatelogo {
    0% {
        transform: scale(.8);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(.8);
    }
}

.registration-section {
    position: fixed;
    top: -100%;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    z-index: 2;
    background-color: var(--veryDarkGrey);
    transition: 1s ease-in-out;
}

.registration-section.is-active {
    top: 0;
}


.logo {
    padding: 20px 0;
    text-align: center;

}

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 100px);
}

.registration-section form {
    width: 500px;
    min-height: 280px;
    background-color: var(--darkGrey);
    border-radius: 10px;
}

.btn-wrapper {
    width: 100%;
    border-radius: 10px 10px 0 0;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.btn-wrapper div i {
    margin-right: 10px;
    font-size: 1.1em
}

.btn-wrapper div span {
    font-size: 1.1em;
    font-weight: bold;
}

.login-btn {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    color: white;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
}

.register-btn {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--mediumGrey);
    cursor: pointer;
    padding: 15px 0;
    border-radius: 10px 0 0 10px;
}

.login-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.register-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.login-section input[type=text],
.register-section input[type=text]
{
    width: 80%;
    padding: 7px 15px;
    margin: 0 0 10px;
    border-radius: 5px;
    border: 1px solid var(--lines);
    background: transparent;
    outline: none;
    color: white;
}

.login-section input[type=password],
.register-section input[type=password] {
    width: 80%;
    padding: 7px 15px;
    border-radius: 5px;
    margin: 0 0 10px;
    border: 1px solid var(--lines);
    background: transparent;
    outline: none;
    color: white;
}

.login-section input[type=submit],
.register-section input[type=submit] {
    padding: 8px 40px;
    border-radius: 30px;
    color: white;
    background-color: var(--main-purple);
    border: none;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 20px;
}

.view-pwd,
.hide-pwd {
    color: white;
    position: absolute;
    right: 12%;
    top: 29%;
    cursor: pointer;
    display: none;
}

.view-pwd2,
.hide-pwd2 {
    color: white;
    position: absolute;
    right: 12%;
    top: 54%;
    cursor: pointer;
    display: none;
}

.login-pwd,
.hide-login-pwd {
    color: white;
    position: absolute;
    right: 12%;
    top: 39%;
    cursor: pointer;
    display: none;
}

.fa-eye {
    z-index: 3;
}

.error-msg-container p {
    width: 100%;
    text-align: center;
    color: var(--lightRed);
    font-weight: bold;
    margin: 10px 0;
}

.display-none {
    display: none;
}